.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.hiddenInput {
  width: 0;
  height: 0;
  outline: 'none';
  padding: 0;
  border-width: 0;
  box-shadow: 'none';
  position: 'absolute';
}

.pinInput {
  box-sizing: border-box;
  padding: 0;
  outline: none;
  width: 0.469rem;
  background-color: transparent;
  margin-left: 0.242rem;
  margin-right: 0.242rem;
  margin-bottom: 0.14rem;
  text-align: center;
  font-size: 0.676rem;
  font-weight: 500;
  border-bottom-color: black;
  border-bottom-width: 0.03rem;
}
